@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: black;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.logo-font{
    font-family: 'Redressed', cursive;
}
.header{
    background-color: lavender;
    padding: 32px 0;
}
.logo{
    width: 29%;
    display: inline-block;
    vertical-align: middle;
}
.logo a{
    font-size: 32px;
    color: rgb(211, 140, 132);
    text-decoration: none;
    text-shadow: 0 0 10px ;
    box-shadow: 10px 10px 10px 10px;
}
.nagivation{
    width: 70%;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}
.nagivation ul{
    list-style: none;
}
.nagivation li{
    display: inline-block;
    margin-left: 32px;
}
.nagivation a{
    color: black;
    text-decoration: none;
}
.banner{
    background-color:lightpink;
    padding: 100px 0;
}
.content-banner{
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    color: rgb(255, 255, 255);
}
.content-banner h1{
    font-weight: 800;
    color: rgb(255, 255, 255);
}
.content-banner p{
    margin: 8px 0 40px;
    color: rgb(255, 255, 255);
}
.img-banner{
    width: calc(50% - 10px);
    overflow: hidden;
    display: inline-block;
    height: 400px;
    vertical-align: middle;
}
.img-banner img{
    width: 100%;
}
.btn{
    color: rgb(109, 45, 19);
    text-decoration: none;
    padding: 8px 32px;
    background-color: rgb(243, 61, 61);
}
.services{
    padding: 100px;
    background-color:lightgrey;
}
.cakes{
    width: 30%;
    display: inline-block;
    overflow: hidden;
    margin-right: 2%;
}
.future-img{
    overflow: hidden;
    height: 250px;
}
.future-img img{
    height: 100%;
}
.content-cakes{
    padding: 32px 16px;
}
.content-cakes h2{
    text-align: center;
    color:chocolate;
}
.content-cakes p{
    margin: 12px 0 32px;
}
.simple-link{
    color: rgb(0, 0, 0);
}
.blog{
    background-color:lightpink;
    padding: 100px 0;
}
.blog-img{
    width: calc(50% - 10px);
    overflow: hidden;
    display: inline-block;
    height: 400px;
    vertical-align: middle;
    padding: 0 20px ;
}
.blog-img img{
    width: 100%;
}
.content-blog{
    width: 50%;
    display: inline-block;
    vertical-align: top;
    color: rgb(255, 255, 255);
}
.content-blog h1{
    font-weight: 800;
    color: rgb(255, 255, 255);
    display: inline-block;
}
.content-blog h2{
    font-weight: 650;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px 0 0 0 ;
}
.content-blog p{
    margin: 8px 0 40px;
    color: rgb(255, 255, 255);
    display: inline-block;
}
.map-img{
    width: calc(50% - 10px );
    overflow: hidden;
    height: 400px;
    vertical-align: middle;
    padding: 100px ; 
    display: inline-block;
}
.map-img img{
    width: 100%;
}
.content-map{
    width: 50%;
    vertical-align: top;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 100px;;
    text-transform: uppercase;
}
.content-map h1{
    font-weight: 800;
    color: rgb(0, 0, 0);
    display: inline-block;
}
.content-map p{
    margin: 8px 0 40px;
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 10px 0 0 0 ;
}
.footer{
    padding: 100px;
    display: inline-block;
    vertical-align: middle;
    color: rgb(255, 255, 255);
    background-color: lightpink;
}
.about-footer{
    width: 100%;
    height: 10px;
}
.about-footer h1{
    color: rgb(211, 140, 132);
    display: inline-block;
    text-shadow: 0 0 10px ;
}
.list-menu{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}
.list-menu p{
    text-align: right;
}